.user {
  &-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;

    &-avatar {
      margin-bottom: 10px;
    }

    &-btn {
      width: 60%;
      margin: 0 auto;
      text-align: right;
    }
  }

  &-body {
    width: 60%;
    margin: 20px auto;
    margin-top: 20px;
  }
}
